<h1>Types#index</h1>
<p>Find me in app/views/types/index.html.erb</p>

<p>
	<% @types.each do |type| %>
		<li>
			<%= type.name %>
			<%= link_to "edit", edit_admin_type_path(type) %>
		</li>
		<ul>
			<% type.field_definitions.each do |field| %>
				<li><%= field.key %></li>
			<% end %>
		</ul>
	<% end %>
</p>

<p>
	<%= link_to "New Type", new_admin_type_path %>
</p>
