<h1>Admin::Settings#index</h1>
<p>Find me in app/views/admin/settings/index.html.erb</p>

<h1>Settings</h1>
<%= form_tag("/admin/settings", method: "put") do %>
	<p><%= label_tag("Homepage:") %>
	<p><%= select_tag(:value, homepage_options) %>
	<p><%= submit_tag("Submit")%>
<% end %>


